
/* Welcome start */

@-moz-keyframes welcome {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-webkit-keyframes welcome {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-ms-keyframes welcome {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes welcome {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-moz-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-webkit-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@-ms-keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@keyframes nav-icons {
	0% {
		-moz-transform: translate3d(0,1em,0);
		-webkit-transform: translate3d(0,1em,0);
		-ms-transform: translate3d(0,1em,0);
		transform: translate3d(0,1em,0);
		opacity: 0;
	}

	100% {
		-moz-transform: translate3d(0,0,0);
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

#welcome {
	-moz-animation: welcome 1s 2.25s forwards;
	-webkit-animation: welcome 1s 2.25s forwards;
	-ms-animation: welcome 1s 2.25s forwards;
	animation: welcome 1s 2.25s forwards;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	cursor: default;
	display: inline-block;
	opacity: 0;
	position: relative;
	text-align: center;
	top: -1em;
	vertical-align: middle;
	width: 99%;
	h1 {
		font-size: 4.35em;
		font-weight: 900;
		letter-spacing: -0.035em;
		line-height: 1em;
	}
	p {
		font-size: 1.25em;
		margin: 0.75em 0 0.25em 0;
		opacity: 0.75;
	}
	nav {
		margin: 1.5em 0 0 0;
		li {
			-moz-animation: nav-icons 0.5s ease-in-out forwards;
			-webkit-animation: nav-icons 0.5s ease-in-out forwards;
			-ms-animation: nav-icons 0.5s ease-in-out forwards;
			animation: nav-icons 0.5s ease-in-out forwards;
			-moz-backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			display: inline-block;
			height: 5.35em;
			line-height: 5.885em;
			opacity: 0;
			position: relative;
			top: 0;
			width: 5.35em;
			&:nth-child(1) {
				-moz-animation-delay: 2.5s;
				-webkit-animation-delay: 2.5s;
				-ms-animation-delay: 2.5s;
				animation-delay: 2.5s;
			}
			&:nth-child(2) {
				-moz-animation-delay: 2.75s;
				-webkit-animation-delay: 2.75s;
				-ms-animation-delay: 2.75s;
				animation-delay: 2.75s;
			}
			&:nth-child(3) {
				-moz-animation-delay: 3s;
				-webkit-animation-delay: 3s;
				-ms-animation-delay: 3s;
				animation-delay: 3s;
			}
			&:nth-child(4) {
				-moz-animation-delay: 3.25s;
				-webkit-animation-delay: 3.25s;
				-ms-animation-delay: 3.25s;
				animation-delay: 3.25s;
			}
			&:nth-child(5) {
				-moz-animation-delay: 3.5s;
				-webkit-animation-delay: 3.5s;
				-ms-animation-delay: 3.5s;
				animation-delay: 3.5s;
			}
			&:nth-child(6) {
				-moz-animation-delay: 3.75s;
				-webkit-animation-delay: 3.75s;
				-ms-animation-delay: 3.75s;
				animation-delay: 3.75s;
			}
			&:nth-child(7) {
				-moz-animation-delay: 4s;
				-webkit-animation-delay: 4s;
				-ms-animation-delay: 4s;
				animation-delay: 4s;
			}
			&:nth-child(8) {
				-moz-animation-delay: 4.25s;
				-webkit-animation-delay: 4.25s;
				-ms-animation-delay: 4.25s;
				animation-delay: 4.25s;
			}
			&:nth-child(9) {
				-moz-animation-delay: 4.5s;
				-webkit-animation-delay: 4.5s;
				-ms-animation-delay: 4.5s;
				animation-delay: 4.5s;
			}
			&:nth-child(10) {
				-moz-animation-delay: 4.75s;
				-webkit-animation-delay: 4.75s;
				-ms-animation-delay: 4.75s;
				animation-delay: 4.75s;
			}
		}
		a {
			-webkit-tap-highlight-color: transparent;
			-webkit-touch-callout: none;
			border: 0;
			display: inline-block;
			&:before {
				-moz-transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				border-radius: 100%;
				border: solid 1px #fff;
				display: block;
				font-size: 1.75em;
				height: 2.5em;
				line-height: 2.5em;
				position: relative;
				text-align: center;
				top: 0;
				width: 2.5em;
			}
			&:hover {
				font-size: 1.1em;
				&:before {
					background-color: rgba(255, 255, 255, 0.175);
					color: #fff;
				}
			}
			&:active {
				font-size: 0.95em;
				background: none;
				&:before {
					background-color: rgba(255, 255, 255, 0.35);
					color: #fff;
				}
			}
			span {
				display: none;
			}
		}
	}
	.start-wrapper {
		margin-top: 50px;
		.start {
			padding: 10px 20px;
			cursor: pointer;
			border: 1px solid #fff;
			border-radius: 4px;
		}
	}
}

/* Welcome end */
